# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug and local files
*.js
!postcss.config.js
!tailwind.config.js
!vite.config.js
debug_output.txt

# CSV files
awaken_csv_format*.csv
awaken_multi_asset_template.csv
